extends ../../layouts/default
block head
  title Add Event

block body
  div.row
    div.col-sm-8
      div.page-header
        h1 Add Event
        form(method='post',action='/events')
          div.form-group
            label Event Name:
            input.form-control(name='name',type='text')
          div.form-group
            label description:
            textarea.form-control(name='description',type='text')
          div.form-group
            label Venu:
            input.form-control(name='venu',type='text')
          div.form-group
            label Event Date:
            input.form-control(name='date',type='date')
          div.form-group
            label startTime:
            input.form-control(name='startTime',type='time')
          div.form-group
            label endTime:
            input.form-control(name='endTime',type='time')
          div.form-group
            button.btn.btn-primary.btn-signup(type='submit') Create
            Event
    div.col-sm-4
      div.page-header
        h1 sidebar
